.wrapper {
    display: flex;
    justify-content: center;
    padding: 80px 130px;
}

.task-box {
    display: flex;
    align-content: center;
    width: 200px;
}

.task-name {
    justify-content: flex-start;
}

.delete-btn {
    justify-content: flex-end;
    align-self: center;
    width: 50px;
    height: 20px;
}

.complete-btn {
    justify-content: flex-end;
    align-self: center;
    width: 70px;
    height: 20px;
}

.todo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.task-list {
    background-color: red;
}

.completed-task-list {
    background-color: lawngreen;
}

